streamlit
python-dotenv
protobuf==3.20.3
langchain==0.3.27
langchain-community==0.3.31
langchain-text-splitters==0.3.11
langchain-huggingface==0.3.1
langchain-chroma==0.2.6
langchain-ollama==0.3.10
chromadb==1.0.20
sentence-transformers>=3.0.1
pypdf
